/* Layout */
html body{
  height: 100vh;
}
/* Layout END */

/*Landing page*/
  video{
    object-fit: cover;
    height: 100vh;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
  }
  main{
    height: 520px;
    width:  520px;
  }
/*Landing page END*/
