*{
  box-sizing: border-box;
  font-family: "Arial";
}
html{
  background: #159957;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #155799, #159957);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #155799, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
html, body {
  height: 100%;
  font-family: 'Lato', sans-serif;
}
#login, #register{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body{
  margin: 0;
}
.login{
  border: 1px solid #2980b9;
  background: #3498db;
  border-radius: 4px;
  width: 320px;
  padding: 20px;
  text-align: center;
  box-shadow: 6px 6px rgba(0,0,0,0.5);
}
.login h3{
  color: #fff;
  margin: 0 auto 10px;
  font-size: 28px;
  text-shadow:1px 1px rgba(0,0,0,0.5);
}
.login input{
  display: block;
  width: 100%;
  border: none;
  margin-bottom: 10px;
  height: 40px;
  font-size: 20px;
  border-radius: 2px;
  padding: 0 10px;
}
.submit{
  background: #2ecc71;
  color: #fff;
  transition: background-color .25s ease-in-out;
}
.submit:hover{
  background: #27ae60;
  color: #ecf0f1;
}
#alert{
  padding: 20px;
  background: #e74c3c;
  color: #fff;
  margin: 60px;
  font-size: 20px;
  border-radius: 4px;
  box-shadow: 6px 6px rgba(0,0,0,0.5);
}
.login a {
  text-decoration: none;
  color: #fff;
  margin: 40px auto 0;
}
.login a:hover {
  color: #999;
}
nav{
  background: #242424;
  color: #fff;
  height: 80px;
  line-height: 80px;
  padding: 0 20px;
  text-align: center;
  position: relative;
}
nav a{
  color: #ddd;
  float: right;
}
nav h1{
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section{
  background: #ecf0f1;
  border-radius: 10px;
  width: 30%;
  margin: 60px auto;
  padding: 10px;
  box-shadow: 6px 6px rgba(0,0,0,0.5);
  text-align: left;

}
li{
  padding: 20px;
  font-size: 20px;
  list-style: none;
  padding-left: 40px;
}
li a{
  text-decoration: none;
  color: black;
  padding-left: 20px;
}
li a:Hover{
  color: #999;
}
ul{
  padding: 0;
}
section form{
  padding: 20px 0;
  width: 100%;
}
section form input{
  margin: 0 auto;
  display: block;
  width: 320px;
  margin-bottom: 10px;
  height: 40px;
  font-size: 20px;
  border-radius: 2px;
  padding: 0 10px;
}
section form input .submit{
  border: none;
}
section h2 {
  margin: 0 auto;
  text-align: center;
}
section ul li a{
  float: right;
}
