/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');
/* Google FOnts END */

/* Palette
Blue: 00FFFF;
DarkBlue: 29ABE2;
Palette END */

/* Layout */
html body{
  height: 100vh;
}
body{
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* Layout END */

/* Splash Screen */
#splashScreen {
  align-items: center;
  display: flex;
  justify-content: center;
  background: -webkit-radial-gradient(#414345, #232526);
  background: -o-radial-gradient(#414345, #232526);
  background: radial-gradient(#414345, #232526);
  flex-direction: column;
  z-index: 2;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
#splashScreen:before {
  animation: splashScreenAnimation 2.5s both;
  content: '';
  background: url(../img/todoLogo.svg) no-repeat center;
  display: block;
  height: 33.333333%;
  width: 33.333333%;

}
#splashScreen blockquote{
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
}
#quote{
  font-size: 48px;
  margin: 0;
}
#qoute:before,#qoute:after{
  display: inline-block;
}
#quote:before{
  content: '“';
  margin: 0 5px 0 0;
}
#quote:after{
  content: '"';
  margin: 0 0 0 5px;
}
#author{
  font-size: 14px;
  margin: 0;
  float: right;
  opacity: .75;
}
#author:before{
  content: "—";
  margin: 0 5px 0 0;
}
/* Splash Screen END */

/*Landing page*/
  video{
    object-fit: cover;
    height: 100vh;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
  }
  main{
    text-align: center;
  }
  main p span{
    font-weight: bold;
  }
  main p {
    color: #fff;
    font-size: 24px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
  }
  main a {
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    margin: 30px;
  }
/*Landing page END*/

/*Animation*/
@keyframes  splashScreenAnimation {
from {
  opacity: 0;
  transform: translate3d(0, -100%, 0);
}
75% {
  opacity: 1;
  transform: none;
}
to {
  opacity: 0;
  transform: translate3d(0, 100%, 0);
}
}
/* Animation END */
/* Navigation */
.navbar-brand img {
  height: auto;
  width: 100px;
}
/* Navigation END */

/* Tasks */
#tasks{
  background: #fff;
  margin: 40px auto;
  padding: 40px;
  border-radius: 4px;
  text-align: center;
}
#tasks h2{
  display: inline-block;
  font-family: 'Ubuntu', sans-serif;
  margin: 0 auto 20px;
  border-bottom: 1px solid black;
  padding: 0 20px 5px;
}
/* Tasks END */

/* Forbidden page */
#forbidden{
  height: 100%;
}

#forbidden h1{
  color: #fff;
}
/* Forbidden page END */
